.title-box-ai {
  display: flex;
  gap: 36px;
  padding: 20px 28px;
  margin-bottom: 12px;

  width: 412px;
  background: #fff;
}

.title-text-r {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.back-btn-r {
  width: 30px;
  height: 30px;

  background: url(../components/screens/icon/back-icon.svg);
  background-repeat: no-repeat;
  background-size: 30px;

  padding: 0px;
  margin-top: 10px;
}

.rec-card {
  width: 374px;
  padding: 33px 19px;
  border-radius: 4px;
  background: #FFF;
  margin-bottom: 35px;
  margin-left: 19px;
}

.rec-title {
  color: #000;
  font-family: Inter;
  font-size: 19px;
  font-weight: 700;
  line-height: normal;
}

.rec-reason {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
}

.rec-check {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
}

.line-r {
  display: flex;
  align-items: center;
  gap: 12px;
}

.line-r2 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 3px;
}

.line-r3 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 6px;
}

.text-box-r {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.point-box {
  display: flex;
  width: 278px;
  padding: 20px 33px;
  align-items: flex-start;
  gap: 18px;
  border-radius: 4px;
  background: #EEF5FE;
  margin-top: 30px;
  margin-left: 29px
}

.point-title {
  color: #083EC1;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}

.point-detail {
  color: #9AB7FD;
  font-family: Inter;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
}

.btn-r {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 216px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.55);
  background: #F6F8FB;

  color: #000;
  font-family: Inter;
  font-size: 19px;
  font-weight: 700;
  line-height: normal;

  margin-left: 98px;
  margin-bottom: 20px;
}